<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>file:/Users/matthew_wu/Documents/IdeaProjects/aquarius/spark/src/profile/dev/url.properties</value>
                <!--<value>classpath:test.properties</value>-->
            </list>
        </property>
    </bean>
    <bean class="config.PathSyncConfig">
        <property name="localPathRelateToClassDir" value="${local.sync.path}"/>
        <property name="remotePath" value="${remote.sync.path}"/>
     <!--   <property name="fileMatcher">
            <bean class="config.RegexFileMatcher">
                <property name="namePattern" value="(?!ch\.qos\.logback\.logback\-classic).*"/>
            </bean>
        </property>-->
    </bean>

    <bean id="envConfig" class="config.EnvConfig">
        <constructor-arg name="hadoopConfigs">
            <map>
                <entry key="fs.defaultFS" value="${hdfs.url}"/>
                <entry key="yarn.resourcemanager.hostname" value="${hadoop.server.address}"/>
                <entry key="yarn.resourcemanager.address" value="${hadoop.server.address}:8032"/>
                <entry key="mapreduce.framework.name" value="yarn"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="mySparkTask" class="task.MySparkTask">
        <property name="className" value="driver.SparkPi" />
        <property name="executorNums" value="1" />
        <property name="executorCores" value="1" />
        <property name="executorMemory" value="512m" />
        <property name="driverMemory" value="512M" />
        <property name="envConfig" ref="envConfig" />
    </bean>

    <context:component-scan base-package="config"></context:component-scan>
</beans>